{{> main/header }}
<h1 class="ui blue header">{{domain.name}}</h1>

<a href="/index" class="ui button">Retour</a>

<div class="ui cards">
{{#children}}
        <div class="card">
            <div class="content">
                <div class="header">{{name}}</div>
                <div class="description">
                    {{providers.size}} providers
                </div>
                <div class="description">
                    {{description}} providers
                </div>
                <div>
                    <img class="ui mini right spaced image" src="/static/images/ladybug.png">
                </div>
            </div>
            {{#hasChildren}}
                <a href="/domain/{{name}}" class="ui bottom attached button">
                    <div class="ui button">
                        <i class="door open icon"></i>
                        Ouvrir
                    </div>
                </a>
            {{/hasChildren}}

        </div>
{{/children}}
</div>

{{> main/footer }}