{{> main/header}}

<h1>Propriétaires</h1> <span class="ui blue pointing label .count-master"> {{masters.size}} </span>

<div class="ui attached info message">
    <i class="circle info icon"></i>
    <p>Ajout rapide de propriétaire</p>
</div>
<form method="post" action="/master/add" class="ui form">
    {{#master}}
        {{#id}}
            <input type="hidden" name="id" value="{{.}}">
        {{/id}}
        <div class="ui input">
            <input type="text" name="firstname" value="{{firstname}}" placeholder="firstname" class="ui input" required>
        </div>
        <div class="ui input">
            <input type="text" name="lastname" value="{{lastname}}" placeholder="lastname" class="ui input" required>
        </div>
    {{/master}}
    <button class="ui positive button">+</button>
</form>


<table class="ui table">
    <thead>
    <tr>
        <th>Propriétaire</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                {{#isMasterEmpty}}
                    <div class="ui warning message">
                        <i class="circle warning icon"></i>
                        <div class="header">
                            Pas de maître
                        </div>
                        Il n'y a pas de maître dans la base de données.
                    </div>
                {{/isMasterEmpty}}
            </td>

        </tr>



    {{#masters}}
        <tr>
            <td>{{firstname}} {{lastname}} </td>
            <td>
                <form action="/master/{{id}}/dog" object="${dog}" method="post">

                    <div class="ui input">
                        <input type="text" name="name" placeholder="Nom du chien" >
                    </div>

                    <div class="ui buttons">

                        <button class="ui negative button" name="dog-action" value="giveup">Abandonner</button>

                        <div class="or" data-text="ou"></div>

                        <button class="ui positive button"  name="dog-action" value="add">Acquérir</button>


                    </div>
                </form>



                <form action="/master/{{id}}/delete" class="ui form" method="post" >
                    <button class="ui black button .delete-master" >Paix à son âme </button>
                </form>

            </td>
        </tr>
    {{/masters}}
    </tbody>
</table>


<h1>Chiens à l'adoption</h1> <span class="ui red pointing label count-master"> {{dogs.size}} </span>
<table class="ui table">
    <thead>
    <tr>
        <th>Chiens</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>

    <tr>
        <td>
            {{#isDogEmpty}}
                <div class="ui positive message">
                    <i class="circle info icon"></i>
                    <div class="header">
                        Pas de chien
                    </div>
                    Il n'y a pas de chien à l'adoption dans la base de données.
                </div>
            {{/isDogEmpty}}
        </td>

    </tr>

    {{#dogs}}
        <tr>
            <td>{{name}}</td>

            <td>
                <form action="/dog/{{id}}/action" class="ui form" method="post" >
                    <div class="ui selection dropdown">
                        <i class="dropdown icon"></i>
                        <div class="scrollhint menu">
                            {{#masters}}
                                <div class="item" name="selection" value="{{id}}">{{firstname}} {{lastname}}</div>
                            {{/masters}}
                        </div>
                    </div>

                    <div class="ui icon buttons">
                        <button class="ui button" name="dog-action" value="adopt"><i class="plus icon"></i></button>
                    </div>
                        <button class="negative ui button" name="dog-action" value="remove"><i class="sign out alternate icon"></i></button>
                </form>
            </td>
        </tr>
    {{/dogs}}
    </tbody>
</table>

{{> main/footer}}